*, *::after, *::before {
  box-sizing: border-box;
}

html {
  --s: 350px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #0C4A60;
}

img {
  display: block;
  width: 80px;
  padding-bottom: 1rem;
  
}

.credit-card {
  width: 500px;
  height: 300px;
  border: 1px solid #366;
  border-radius: 10px;
  background-color: #ABDFF1;
  margin: 4em auto;
  padding-top: 2em;
}

.credit-card__text,
.credit-cart__warning,
p {
  margin-left: 32px;
}

.credit-card__text {
  font-size: 1.1rem;
}

.button {
  text-align: right;
  padding-right: 4.5rem;
}

#js-button {
  color: white;
  background-color: #0e186e;
  border-radius: 10px;
  padding-inline: 1em;
  padding-block: .5em;
  margin-top: .5em;
  cursor: pointer;
}

.credit-cart__warning {
  font-size: .8rem;
  width: 50ch; 
}

#js-return-valid {
  color: #415c22;
  font-weight: 600;
  font-size: 1.5rem;
}

#js-return-invalid,
#js-warning-not-number {
  color: #351814;
  font-weight: 600;
  font-size: 1.5rem;
}

#js-warning-not-length {
  color: #0e186e;
  font-weight: 600;
  font-size: 1.5rem;
}

input {
  width: 400px;
  height: 50px;
  margin-left: 2em;
  padding-left: 1em;
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 520px) {
  .credit-card {
    width: 300px;
    height: 350px;
  }

  .credit-cart__warning {
    font-size: .8rem;
    width: 29ch;
  }

  p {
    margin-right: 32px;
  }

  input {
    width: 250px;
    padding-left: 0.5em;
    font-size: 16px;
  }

  .button {
    text-align: center;
    padding-right: 0;
  }

  #js-return-valid,
  #js-return-invalid,
  #js-warning-not-number,
  #js-warning-not-length {
    font-weight: 600;
    font-size: 1.2rem;
    width: 20ch;
  }
}